/*highlight color*/
::selection {
    
    background: red;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: red;
   
}

#as{
	margin:auto;
	position:absolute;
	top:150px;
	height:600px;
	width:100%;
	
}

#one{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
		margin-left:25%;
		z-index:1;
		top:80px;
}

#two{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
		margin-left:25%;
		z-index:1;
		top:80px;
}

#three{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
		margin-left:25%;
		z-index:1;
}
#four{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
		margin-left:25%;
		z-index:1;
}
#five{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
		margin-left:25%;
		z-index:1;
}
#six{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
		margin-left:25%;
		z-index:1;
}
#seven{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
		margin-left:25%;
		z-index:1;
}

#eight{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
		margin-left:25%;
		z-index:1;
}

#nine{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
		margin-left:25%;
		z-index:1;
}

#ten{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
		margin-left:25%;
		z-index:1;
}

p{
	margin-top:150px;
	font-size:700px; 
	opacity:0.2;
	line-height: 0;
	color:red;

}

p:hover{
	color:black;
	opacity:0.5;
	z-index:10;
}


h1{
  position:absolute;
  font-size:15px;
  left:100px;
  top:50px;
  font-family:helvetica;

}

#container{
  width:1000px;

}

#amount{
  padding-left: 350px;
  color:red;
}

#slider-range-max{
left:100px;
}

#container2{
	margin-top:200px;
	margin-left:50px;
	width:100%;
}
#collumn1{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}
#collumn2{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}
#collumn3{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}
#collumn4{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}
#collumn5{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#collumn6{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#collumn7{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#collumn8{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#collumn9{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#collumn10{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#OCR{
	font-family:'OCR A Std';
	font-size:80px;
	
}



#neu{
	font-family:'New Alphabet';
	font-size:140px;
	
}

#digi{
	font-family:'Digi Grotesk Bold Condensed';
	font-size:80px;
	
}

#chicago{
	font-family:'Chicago';
	font-size:80px;
	
}

#lucida{
	font-family:'Lucida Sans';
	font-size:80px;
	
}

#Blur{
	font-family:'Blur';
	font-size:80px;
}

#Arial{
	font-family:'Arial';
	font-size:80px;
	
}

#georgia{
	font-family:'Georgia';
	font-size:80px;
	
}

#verdana{
	font-family:'Verdana';
	font-size:80px;
	
}

#gotham{
	font-family:'Gotham';
	font-size:80px;
	
}

p1{

	font-family:helvetica;
	font-size:15px;
	color:black;

}





