/*typefaces*/
@font-face {
    font-family: 'digi_grotesk_bold_condensedRg';
    src: url('../fonts/digigrotesk-webfont.woff2') format('woff2'),
         url('../fonts/digigrotesk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'newalphabet';
	src:url("../fonts/neualphabet.ttf"); 
}

@font-face{
	font-family: 'chicago';
	src:url("Chicago.ttf"); 
}


/*highlight color*/
::selection {
    
    background: red;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

 
a:hover {
    color: black;
   
}


h1{
  position:absolute;
  font-size:15px;
  width:350px;
}

h2{
  position:absolute;
  font-size:25px;
  width:450px;
}
/* the A */

#as{
	margin:auto;
	position:absolute;
	top:150px;
	height:600px;
	width:100%;
}

/*index page*/
#one{
	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
	margin-left:25%;
	z-index:1;
	top:80px;
}

#ocra{
	margin-top:150px;
	font-size:700px; 
	opacity:0.2;
	line-height: 0;
	color:red;
}


#two{
	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
	margin-left:25%;
	z-index:1;
	top:80px;
}


#new{
	margin-top:155px;
	opacity:0.2;
	line-height: 0;
	color:red;
}

#three{
	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
	margin-left:25%;
	z-index:1;
}


#digi{
	margin-top:175px;
	font-size:650px; 
	opacity:0.2;
	line-height: 0;
	color:red;
}

#four{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
	margin-left:25%;
	z-index:1;
}

#chicago{
	margin-top:180px;
	font-size:650px; 
	opacity:0.2;
	line-height: 0;
	color:red;
}


#five{

	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
	margin-left:25%;
	z-index:1;
}

#lucida{
	margin-top:150px;
	font-size:700px; 
	opacity:0.2;
	line-height: 0;
	color:red;
}

#six{
	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
	margin-left:25%;
	z-index:1;
}

#blur{
	margin-top:180px;
	font-size:700px; 
	opacity:0.2;
	line-height: 0;
	color:red;
}

#seven{
	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
	margin-left:25%;
	z-index:1;
}

#arial{
	margin-top:180px;
	font-size:700px; 
	opacity:0.2;
	line-height: 0;
	color:red;
}

#eight{
	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
	margin-left:25%;
	z-index:1;
}

#verdana{
	margin-top:150px;
	font-size:700px; 
	opacity:0.2;
	line-height: 0;
	color:red;
}

#nine{
	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
	margin-left:25%;
	z-index:1;
}

#georgia{
	margin-top:150px;
	font-size:800px; 
	opacity:0.2;
	line-height: 0;
	color:red;
}

#ten{
	position:absolute;
	text-align:center;
	width:700px;
	height:700px;
	margin-left:25%;
	z-index:1;
}

#gotham{
	margin-top:150px;
	font-size:800px; 
	opacity:0.2;
	line-height: 0;
	color:red;
}


#text{
	position:absolute;
	margin:auto;
	width:100%;
	height:600px;
	top:200px;
	
}

#ocrname{
	color:red;
	font-family:Helvetica;
	float:left;
	position:absolute;
	width:80px;
	height:25px;
	margin-left:950px;
	z-index:40;
	/*border: 3px solid black;*/
	top:40px;
}
#ocrname:hover{
	color:black;
}

#ocrname:hover ~ #one #ocra {
	color:black;
	opacity:0.9;
	z-index:10;
}

#newname{
	color:red;
	font-family:Helvetica;
	float:left;
	position:absolute;
	width:120px;
	height:25px;
	margin-left:950px;
	z-index:40;
	/*border: 3px solid black;*/
	top:80px;
}
#newname:hover{
	color:black;
}

#newname:hover ~ #two #new{
	color:black;
	opacity:0.9;
	z-index:10;
}

#diginame{
	color:red;
	font-family:Helvetica;
	float:left;
	position:absolute;
	width:100px;
	height:25px;
	margin-left:950px;
	
	z-index:40;
	/*border: 3px solid black;*/
	top:120px;
}

#diginame:hover{
	color:black;
}

#diginame:hover  ~ #three #digi{
	color:black;
	opacity:0.9;
	z-index:10;
}

#chicagoname{
	color:red;
	font-family:Helvetica;
	float:left;
	position:absolute;
	width:80px;
	height:25px;
	margin-left:950px;
	z-index:40;
	/*border: 3px solid black;*/
	top:160px;
}

#chicagoname:hover{
	color:black;
}

#chicagoname:hover  ~ #four #chicago{
	color:black;
	opacity:0.9;
	z-index:10;
}

#lucidaname{
	color:red;
	font-family:Helvetica;
	float:left;
	position:absolute;
	width:80px;
	height:25px;
	margin-left:950px;
	
	z-index:40;
	/*border: 3px solid black;*/
	top:200px;
}

#lucidaname:hover{
	color:black;
}

#lucidaname:hover ~ #five #lucida{
	color:black;
	opacity:0.9;
	z-index:10;
}

#blurname{
	color:red;
	font-family:Helvetica;
	float:left;
	position:absolute;
	width:40px;
	height:25px;
	margin-left:950px;
	z-index:40;
	/*border: 3px solid black;*/
	top:240px;
}

#blurname:hover{
	color:black;
}

#blurname:hover ~ #six #blur{
	color:black;
	opacity:0.9;
	z-index:10;
}

#arialname{
	color:red;
	font-family:Helvetica;
	float:left;
	position:absolute;
	width:50px;
	height:25px;
	margin-left:950px;
	z-index:40;
	/*border: 3px solid black;*/
	top:280px;
}

#arialname:hover{
	color:black;
}

#arialname:hover ~ #seven #arial{
	color:black;
	opacity:0.9;
	z-index:10;
}

#verdananame{
	color:red;
	font-family:Helvetica;
	float:left;
	position:absolute;
	width:50px;
	height:25px;
	margin-left:950px;
	z-index:40;
	/*border: 3px solid black;*/
	top:320px;
}

#verdananame:hover{
	color:black;
}

#verdananame:hover  ~ #eight #verdana{
	color:black;
	opacity:0.9;
	z-index:10;
}

#georgianame{
	color:red;
	font-family:Helvetica;
	float:left;
	position:absolute;
	/*border: 3px solid black;*/
	width:50px;
	height:25px;
	margin-left:950px;
	z-index:40;
	top:360px;
}

#georgianame:hover{
	color:black;
}

#georgianame:hover  ~ #nine #georgia{
	color:black;
	opacity:0.9;
	z-index:10;
}

#gothamname{
	color:red;
	font-family:Helvetica;
	float:left;
	position:absolute;
	border: 25px black;
	width:50px;
	height:25px;
	margin-left:950px;
	z-index:40;
	/*border: 3px solid black;*/
	top:400px;
}


#gothamname:hover  ~ #ten #gotham{
	color:black;
	opacity:0.9;
	z-index:10;
}


/*index2*/

/*

#container{
  width:1000px;

}

#amount{
  padding-left: 350px;
  color:red;
}

#slider-range-max{
left:100px;
}

#container2{
	margin-top:200px;
	margin-left:50px;
	width:100%;
}
#collumn1{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}
#collumn2{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}
#collumn3{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}
#collumn4{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}
#collumn5{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#collumn6{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#collumn7{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#collumn8{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#collumn9{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#collumn10{
	text-align: center;
	width:12%;
	height:100px;
	
	margin-left:50px;
	float:left;
	margin-top:50px;
}

#OCR{
	font-family:'OCR A Std';
	font-size:80px;
	
}



#neu{
	font-family:'New Alphabet';
	font-size:140px;
	
}

#digi{
	font-family:'Digi Grotesk Bold Condensed';
	font-size:80px;
	
}

#chicago{
	font-family:'Chicago';
	font-size:80px;
	
}

#lucida{
	font-family:'Lucida Sans';
	font-size:80px;
	
}

#Blur{
	font-family:'Blur';
	font-size:80px;
}

#Arial{
	font-family:'Arial';
	font-size:80px;
	
}

#georgia{
	font-family:'Georgia';
	font-size:80px;
	
}

#verdana{
	font-family:'Verdana';
	font-size:80px;
	
}

#gotham{
	font-family:'Gotham';
	font-size:80px;
	
}

p1{

	font-family:helvetica;
	font-size:15px;
	color:black;

}


*/


