/*typefaces*/

@font-face {
    font-family: 'digi_grotesk_bold_condensedRg';
    src: url('../fonts/digigrotesk-webfont.woff2') format('woff2'),
         url('../fonts/digigrotesk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'newalphabet';
	src:url("../fonts/neualphabet.ttf"); 
}

@font-face{
	font-family: 'chicago';
	src:url("../fonts/Chicago.ttf"); 
}


/*change highlight color*/
::selection {
    
    background: red;
}


/*navigation*/

ul#navigation {
  
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 100px;
    left: 0px;
    list-style: none;
    z-index:9999;

}

ul#navigation >.home {
    width: 100px;
}

ul#navigation >.home a:first-child{

  -webkit-clip-path: polygon(81% 0, 81% 17%, 69% 17%, 70% 100%, 0 100%, 0 0);
clip-path: polygon(81% 0, 81% 17%, 69% 17%, 70% 100%, 0 100%, 0 0);
    display: block;
    margin-left: -270px;
    width: 300px;
    height: 150px;
    background-color:red;
    background-repeat:no-repeat;
    background-position:center center;
    padding:40px;
}

ul#navigation >.home a:nth-child(2){

  
    display: block;
    margin-left: -270px;
    width: 300px;
    height: 150px;
    position:absolute;
    top:60px;
    background-position:center center;
    padding:40px;
}

ul#navigation >.home a:nth-child(3){

  
    display: block;
    margin-left: -270px;
    width: 300px;
    height: 150px;
    position:absolute;
    top:120px;
    background-position:center center;
    padding:40px;
}

a{
  font-family:'Helvetica';
  color:white;
  font-size:30px;
  
}



/*
h1:hover >body, body:hover {
	background-color:red;
	color:white;
	-o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  /* ...and now for the proper property 
  transition:.8s;
}
*/


/*OCR A page*/
#ocra{
	margin-left:25%;
	margin-top:230px;	
}



/*New Alphabet page*/
#Neu{
	margin-left:25%;
	margin-top:230px;	
}

/*digi page*/

#digi{
	margin-left:25%;
	margin-top:230px;	
}

/*Chicago page*/
#Chicago{
	margin-left:25%;
	margin-top:230px;	
}

/*Chicago page*/
#lucida{
	margin-left:25%;
	margin-top:120px;	
}

/*Chicago page*/
#blur{
	margin-left:25%;
	margin-top:230px;	
}

/*Chicago page*/
#arial{
	margin-left:25%;
	margin-top:230px;	
}

/*Chicago page*/
#verdana{
	margin-left:25%;
	margin-top:230px;	
}

/*Chicago page*/
#georgia{
	margin-left:25%;
	margin-top:230px;	
}
/*Chicago page*/
#gotham{
	margin-left:25%;
	margin-top:230px;	
}

/*about text*/

#abouttext{
	text-align:left;
	font-family:'helvetica';
	left:150px;
	position:absolute;
	top:700px;
	
	
}

/*interactive textbox*/

textarea{
	position:absolute;
	text-align:left;
	resize:none;
    outline: none;
	border:none;

}



#line{
	position:absolute;
	height:400px;
	width:10px;
	left:100px;
	top:800px;
	background-color:red;
}

/*text sizes*/

#fox{
	position:absolute;
	text-align:left;
	top:1500px;
	left:100px;
	right:100px;
}



h7{

	position:absolute;
	font-size:9pt;
	
}


h7:hover{
	color:red;
}


/*picture*/
#picture{
	
	position:absolute;
	left:900px;
	top:800px;
}

#video{
	
	position:absolute;
	left:800px;
	top:800px;
}



/*full scharacter set*/
#specimin{
	text-align:center;
	position:absolute;
	top:3000px;
	margin:auto;
	width:100%;

}



